* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  background-color: #cbaacb;
}

.numeros {
  display: inline;
}
h3 {
  width: 50%;
  text-align: center;
}
pre {
  color: green;
  background-color: black;
}
pre code {
  font-size: 8px;
}
button {
  padding: 5px;
  border-radius: 5px;
  transition: transform 0.4s;
}

button:hover {
  transform: scale(1.1);
}

.leaveButton {
  background-color: #ffffb5;
}
